$green-1: #60b15a;
$green-2: #265c22;
$light: #f7f9f7;
$yellow-1: #f9f7e8;
$brown-1: #524e30;
$dark: #202c5c;
$dark-1: #202c5c;
$dark-2: #60685f;
$primary: #60b15a;
$primary-2: #92E18C;
$success: #28a745;
$danger: #dc5f60;
$warning: #e4af5e;
$light-grey: #000000;
$yellow: #fcdc34;
$yellow-2: #E9D949;
$red: #fc4c34;
$grey: #60685f;
$lightgrey: #f0f1f0;
$dangerous: #ffefef;
$twitter: #00aced;
$facebook: #3b5998;
$success-light: #eef5ed;
$border: #e4e4e4;
